{% extends "base.html" %} {% block title %} AddCase {% endblock %} {% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    添加用例
                </h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <ul class="nav nav-tabs" id="mytags" style="margin-left: 10px">
                                <li role="presentation" class="active"><a href="#message" data-toggle="tab">Messages</a></li>
                                <li role="presentation"><a href="#request">request</a></li>
                                <li role="presentation"><a href="#variables">variables/parameters/hooks</a></li>
                                <li role="presentation"><a href="#validate">extract/validate</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active" id="message">
                                    <div class="col-lg-8">
                                        <br>
                                        <form role="form">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">用例名称</span>
                                                <input class="form-control" placeholder="Case Name">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">所属项目</span>
                                                <select name="belong_project" class="form-control">
                                                    <option value="请选择">请选择</option>
                                                </select>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">所属模块</span>
                                                <select name="belong_module" class="form-control">
                                                    <option value="请选择">请选择</option>
                                                </select>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">依赖用例</span>
                                                <select name="dependences" class="form-control">
                                                    <option value="请选择">请选择</option>
                                                </select>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">编写人员</span>
                                                <input class="form-control" placeholder="author">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">前置条件</span>
                                                <input class="form-control" placeholder="author">
                                            </div>
                                            <button type="submit" class="btn btn-default" style="margin: 10px 10px 10px 80px">提交</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="request">
                                    <div class="col-lg-8">
                                        <br>
                                        <form role="form">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">URL</span>
                                                <input class="form-control" placeholder="/api/login/">
                                                <span class="input-group-addon">Method</span>
                                                <select class="form-control" name="method" id="method">
                                                    <option>POST</option>
                                                    <option>GET</option>
                                                    <option>PUT</option>
                                                    <option>DELETE</option>
                                                </select>
                                                <span class="input-group-addon">Type</span>
                                                <select class="form-control" name="DataType" id="DataType">
                                                    <option>data</option>
                                                    <option>json</option>
                                                    <option>params</option>
                                                </select>
                                            </div>
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqData')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>data</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="dataSelect" type="checkbox" onclick="allCheck('dataSelect')">
                                                        </th>
                                                        <th>Type</th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqData">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>string</option>
                                                                <option>int</option>
                                                                <option>float</option>
                                                                <option>boolean</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqHeaders')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>headers</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="headerSelect" type="checkbox" onclick="allCheck('headerSelect')">
                                                        </th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqHeaders">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="submit" class="btn btn-default" style="margin: 10px 10px 10px 80px">提交</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="variables">
                                    <div class="col-lg-8">
                                        <br>
                                        <form role="form">
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqVars')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>variables</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="varSelect" type="checkbox" onclick="allCheck('varSelect')">
                                                        </th>
                                                        <th>Type</th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqVars">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>string</option>
                                                                <option>int</option>
                                                                <option>float</option>
                                                                <option>boolean</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqParams')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>parameters</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="paramSelect" type="checkbox" onclick="allCheck('paramSelect')">
                                                        </th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqParams">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqHooks')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>hooks</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="hookSelect" type="checkbox" onclick="allCheck('hookSelect')">
                                                        </th>
                                                        <th>setup_hooks</th>
                                                        <th>teardown_hooks</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqHooks">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="submit" class="btn btn-default" style="margin: 10px 10px 10px 80px">提交</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="validate">
                                    <div class="col-lg-8">
                                        <br>
                                        <form role="form">
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqExtracts')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>extract</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="extrSelect" type="checkbox" onclick="allCheck('extrSelect')">
                                                        </th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqExtracts">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                        <td>
                                                            <input>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="button" class="btn btn-info btn-sm" onclick="addTr('reqValidate')" value="添加">
                                            <input type="button" class="btn btn-danger btn-sm" onclick="delTr()" value="删除">
                                            <table id="tab" class="table table-striped table-bordered table-hover">
                                                <caption>validate</caption>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input id="valiSelect" type="checkbox" onclick="allCheck('valiSelect')">
                                                        </th>
                                                        <th>Check</th>
                                                        <th>Comparator</th>
                                                        <th>Type</th>
                                                        <th>Expected</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="reqValidate">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox">
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>equals</option>
                                                                <option>less_than</option>
                                                                <option>less_than_or_equals</option>
                                                                <option>greater_than</option>
                                                                <option>contains</option>
                                                                <option>not_equals</option>
                                                                <option>startswith</option>
                                                                <option>endswith</option>
                                                                <option>regex_match</option>
                                                                <option>string_equals</option>
                                                                <option>length_euqals</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>string</option>
                                                                <option>int</option>
                                                                <option>float</option>
                                                                <option>boolean</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input style="margin-top: 4px">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="submit" class="btn btn-default" style="margin: 10px 10px 10px 80px">提交</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
</div>
<script>
$(function() {

    $('#mytags a').click(function(e) {
        e.preventDefault(); //阻止a链接的跳转行为
        $(this).tab('show'); //显示当前选中的链接及关联的content
    })

})

function addTr(id) {

    var dataTrHtml = 
    `
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                <select class="form-control">
                    <option>string</option>
                    <option>int</option>
                    <option>float</option>
                    <option>boolean</option>
                </select>
            </td>
            <td>
                <input style="margin-top: 4px">
            </td>
            <td>
                <input style="margin-top: 4px">
            </td>
        </tr>
    `

    var simpleTrHtml = 
    `
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
        </tr>
    `

    var valiTrHtml = `
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td>
            <input style="margin-top: 4px">
        </td>
        <td>
            <select class="form-control">
                <option>equals</option>
                <option>less_than</option>
                <option>less_than_or_equals</option>
                <option>greater_than</option>
                <option>contains</option>
                <option>not_equals</option>
                <option>startswith</option>
                <option>endswith</option>
                <option>regex_match</option>
                <option>string_equals</option>
                <option>length_euqals</option>
            </select>
        </td>
        <td>
            <select class="form-control">
                <option>string</option>
                <option>int</option>
                <option>float</option>
                <option>boolean</option>
            </select>
        </td>
        <td>
            <input style="margin-top: 4px">
        </td>
    </tr>`

    if (id === 'reqData' || id === 'reqVars') {
        html = dataTrHtml
    } else if(id === 'reqValidate'){
        html = valiTrHtml
    } else{
        html = simpleTrHtml
    }
    var tb = $('#' + id)
    if (tb.length == 0) {
        alert("指定的table id或行数不存在！");
        return;
    }
    tb.append(html);
}

function delTr() {

    var ckbs = $("td>input:checked");
    if (ckbs.size() == 0) {
        alert("要删除指定行，需选中要删除的行！");
        return;
    }
    ckbs.each(function() {
        $(this).parent().parent().remove();
    });
}

function allCheck(id) {
    var box = $('#' + id)
    var flag = box[0].checked
    box.parent().parent().parent().parent().find('input:checkbox').prop('checked', flag)

}
</script>
{% endblock %}