<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        ApiRunner-{% block title %}{% endblock title%}
    </title>
    {% from 'macros.html' import static_file %}
    {{ static_file('icon', 'img/favicon.ico') }}
    {{ static_file('css', 'css/bootstrap.css') }}
    {{ static_file('css', 'css/font-awesome.css') }}
    {{ static_file('css', 'js/morris/morris-0.4.3.min.css') }}
    {{ static_file('css', "https://fonts.googleapis.com/css?family=Open+Sans", local=False) }}
    {{ static_file('css', "css/custom-styles.css") }}
    {{ static_file('css', "js/dataTables/dataTables.bootstrap.css") }}
    {{ static_file('js', "js/jquery-1.10.2.js") }}
    {{ static_file('js', "js/bootstrap.min.js") }}
    {{ static_file('js', "js/jquery.metisMenu.js") }}
    {{ static_file('js', "js/Lightweight-Chart/jquery.chart.js") }}
    {{ static_file('js', "js/morris/raphael-2.1.0.min.js") }}
    {{ static_file('js', "js/morris/morris.js") }}
    {{ static_file('js', "js/easypiechart.js") }}
    {{ static_file('js', "js/easypiechart-data.js") }}
    {{ static_file('js', "js/dataTables/jquery.dataTables.js") }}
    {{ static_file('js', "js/dataTables/dataTables.bootstrap.js") }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
    {{ static_file('js', "js/custom-scripts.js") }}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('index')}}"><i class="fa fa-gear"></i> ApiRunner</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="{{ url_for('change_password') }}"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="{{url_for('index')}}"><i class="fa fa-dashboard"></i>首页</a>
                    </li>
                    <li>
                        <a href="{{url_for('project_list')}}"><i class="fa fa-users"></i> 项目管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('module_list')}}"><i class="fa fa-puzzle-piece"></i> 模块管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('case_list')}}"><i class="fa fa-bug"></i> 用例管理</a>
                    </li>
                    {#
                    <li>
                        <a href="chart.html"><i class="fa fa-qrcode"></i> chart</a>
                    </li> #}
                    <li>
                        <a href="{{url_for('report_list')}}"><i class="fa fa-table"></i> 报告管理</a>
                    </li>
                    <li>
                        <a href="{{url_for('settings')}}"><i class="fa fa-cog"></i> 系统设置 </a>
                    </li>
                    <!-- <li>
                                    <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                                <a href="#">Second Level Link</a>
                                        </li>
                                        <li>
                                                <a href="#">Second Level Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <li>
                                                    <a href="#">Third Level Link</a>
                                                </li>
                                                <li>
                                                    <a href="#">Third Level Link</a>
                                                </li>
                                                <li>
                                                    <a href="#">Third Level Link</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> -->
                </ul>
            </div>
    </div>
    </nav>
    </div>
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</body>

</html>