{% extends "base.html" %} {% block title %} EditModule {% endblock %} {% block content %}
{% from 'macros.html' import form_field %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">
                    编辑模块 
                </h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="margin-left: 5px">
                        模块信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <br>
                                <form role="form"  method="POST">
                                    {{ form.csrf_token }}
                                    {{ form_field(form.module_name, '模块名称') }}
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">所属项目</span>
                                        {{form.belong_project(class_='form-control')}}
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">测试人员</span>
                                        {{form.tester(class_='form-control',placeholder="Tester")}}
                                    </div>
                                    <div class="form-group">
                                        <label>简要描述</label>
                                        {{form.desc(class_='form-control',placeholder="say somthing",row='3')}}
                                    </div>
                                    {{ form.submit(class_="btn btn-default") }}
                                    <button type="reset" class="btn btn-default">重置</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
{% endblock %}