{% extends "base.html" %} {% block title %} ModuleList {% endblock %} {% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <h2 class="page-header">
            模块列表
        </h2>
        <div class="btn-group btn-group-m" role="group" aria-label="..." style="margin-bottom: 5px">
            <button type="button" class="btn btn-default"><a href="{{url_for('add_module')}}">增加模块</a></button>
            <button type="button" class="btn btn-default">导入</button>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            <input id="All" type="checkbox">
                                        </th>
                                        <th>序号</th>
                                        <th>模块名称</th>
                                        <th>所属项目</th>
                                        <th>测试人员</th>
                                        <th>用例/配置</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div class="btn-group btn-group-m" role="group" aria-label="..." style="margin-bottom: 5px">
                                        <button type="button" class="btn btn-xs" style="margin-right: 5px">批量删除</button>
                                        <button type="button" class="btn btn-xs" onclick="">批量运行</button>
                                    </div>
                                    {% for module in modules %}
                                    <tr class="odd gradeX">
                                        <td>
                                            <label>
                                                <input type="checkbox" name="module">
                                            </label>
                                        </td>
                                        <td>{{loop.index}}</td>
                                        <td>{{module.module_name}}</td>
                                        <td>{{module.project_info.project_name}}</td>
                                        <td>{{module.tester}}</td>
                                        <td>{{module.cases|length}}</td>
                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default btn-xs text-primary" data-toggle="tooltip" title="编辑">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs text-primary" data-toggle="tooltip" title="删除">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs text-primary" data-toggle="tooltip" title="运行">
                                                    <span class="glyphicon glyphicon-play"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>
<script>
$("#All").click(function() {
    var flag = this.checked;
    $(":checkbox[name='project']").prop('checked', flag);
});
</script>
{% endblock %}