{% extends "base.html" %} {% block titlel %} ApiRunner-AddCase {% endblock %} 
{% block content %}

<div class="table-responsive">
    <table id="tab">
        <tr>
            <td>
                <input id="allCkb" type="checkbox" />
            </td>
            <td>科目</td>
            <td>成绩</td>
        </tr>
        <tr>
            <td></td>
            <td>语文</td>
            <td>80</td>
        </tr>
    </table>
</div>
<input type="button" onclick="addTr2('tab', -1)" value="添加">
<input type="button" onclick="delTr2()" value="删除">
<script src="api_runner/static/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
////////添加一行、删除一行封装方法///////
/**
 * 为table指定行添加一行
 *
 * tab 表id
 * row 行数，如：0->第一行 1->第二行 -2->倒数第二行 -1->最后一行
 * trHtml 添加行的html代码
 *
 */
function addTr(tab, row, trHtml) {
    //获取table最后一行 $("#tab tr:last")
    //获取table第一行 $("#tab tr").eq(0)
    //获取table倒数第二行 $("#tab tr").eq(-2)
    var tr = $("#" + tab + " tr").eq(row);
    if (tr.size() == 0) {
        alert("指定的table id或行数不存在！");
        return;
    }
    tr.after(trHtml);
}

function delTr(ckb) {
    //获取选中的复选框，然后循环遍历删除
    var ckbs = $("input[name=" + ckb + "]:checked");
    if (ckbs.size() == 0) {
        alert("要删除指定行，需选中要删除的行！");
        return;
    }
    ckbs.each(function() {
        $(this).parent().parent().remove();
    });
}

/**
 * 全选
 * 
 * allCkb 全选复选框的id
 * items 复选框的name
 */
function allCheck(allCkb, items) {
    $("#" + allCkb).click(function() {
        $('[name=' + items + ']:checkbox').attr("checked", this.checked);
    });
}

////////添加一行、删除一行测试方法///////
$(function() {
    //全选
    allCheck("allCkb", "ckb");
});

function addTr2(tab, row) {
    var trHtml = "<tr align='center'><td width='30%'><input type='checkbox' name='ckb'/></td><td width='30%'><input type='text' /></td><td width='30%'><input type='text' /></td></tr>";
    addTr(tab, row, trHtml);
}

function delTr2() {
    delTr('ckb');
}
</script>
{% endblock %}